{{#functions}}
def {{name}}():
    print("Show the dot notation to show whole payload: {{.}}")
    print("My function Name is: {{name}}")
    print("My Message is: {{message}}\n")
{{name}}()
{{/functions}}